@using System.Web.Optimization
@model ML.PaymentSolution.Services.Contracts.Responses.SearchGroupByIdResponse
@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left header-textcolor hidden-xs" style="padding-top: 10px;">DELETE GROUP</h4>
            @*<div class="input-group col-md-4 col-sm-6 col-xs-12 input-group-sm pull-right">
                    <input type="text" class="form-control GroupKey" placeholder="Search Group">
                    <div class="input-group-btn">
                        <button class="btn btn-primary searchGroup"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>*@
        </div>
        @if (Model.NoOfEmployee != 0)
        {
            Html.RenderPartial("_partialdeleteemployeelist", Model.EmployeeData);
        }
        else
        {
            <h1 class="header-textcolor text-center">No Employee</h1>
        }                
    </div>
    <div>
        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("grouplist", "Group" )'">
            <i class="glyphicon glyphicon-circle-arrow-left"></i> Back to Group
        </button>
    </div>
</div>

<!--
<h2 class="header-textcolor" style="margin-top: -2px;">DELETE GROUP</h2>

<div class="form-horizontal">
    <hr style="margin-top: -7px;" />
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Group Name", htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-md-4 input-group input-group-sm">
                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control", @id = "group", @readonly = "readonly", data_group = Model.GroupId } })
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10" style="margin-top: -20px;">
            <h2 class="header-textcolor">EMPLOYEE LIST</h2>
            <div class="panel panel-default" style="margin-top: -5px;">
                <table class="table table-condensed">
                    @if (Model.NoOfEmployee == 0)
                    {
                        <tr>
                            <th>
                                Last Name
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Middle Name
                            </th>
                            <th>
                                Salary
                            </th>
                        </tr>
                    }
                    else
                    {
                        Html.RenderPartial("_partialdeleteemployeelist", Model.EmployeeData);
                    }
                </table>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".modal-sm-group-delete">Delete</button>
                <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("GroupList","Group")'">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
    -->
<div class="modal fade modal-sm-group-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title modal-text">Delete Group</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <b>@Model.GroupName</b> group?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger btndeletegroup" data-url="@Url.Action("DeleteGroup", "Group", Request.Url.Scheme)">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    @Scripts.Render("~/bundles/Group")
}
