@model SAT.Models.EDIRequestReportModel

@{
    ViewBag.Title = "EDI Report";
}

<div class="col-md-6 col-md-offset-3">
    <div class="panel custom ">
        <div class="panel-heading custom clearfix" style="padding:5px;margin-bottom:10px">
            <h4>Monthly Report</h4>
        </div>
        <div class="container">
            @*@using (Html.BeginForm("requestReport","MonthlyReport",FormMethod.Post))*@
            @using (Ajax.BeginForm("requestReport", "EDIReport", FormMethod.Post, new AjaxOptions() { OnBegin = "loading", OnComplete = "loadingDismiss" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.year, new SelectList(

                                new List<Object> {
                                    new {value=DateTime.Now.Year, text=DateTime.Now.Year},
                                    new {value=DateTime.Now.Year-1, text=DateTime.Now.Year-1},
                                    new {value=DateTime.Now.Year-2, text=DateTime.Now.Year-2},

                                },
                                "value", "text", new { value = 0, text = DateTime.Now.Year }

                    ), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.month, htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.month, new SelectList(

                                new List<Object> {
                                    new {value=0, text="Select Month"},
                                    new {value=1, text="January "},
                                    new {value=2, text="February"},
                                    new {value=3, text="March"},
                                    new {value=4, text="April"},
                                    new {value=5, text="May "},
                                    new {value=6, text="June"},
                                    new {value=7, text="July"},
                                    new {value=8, text="August"},
                                    new {value=9, text="September"},
                                    new {value=10,text="October "},
                                    new {value=11,text="November"},
                                    new {value=12,text="December"},
                                },
                                "value", "text", DateTime.Now.Month
                    ), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.month, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.report, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.DropDownListFor(model => model.report, new SelectList(

                                new List<Object> {
                                    new {value=0, text="Select report to generate"},
                                    new {value="Xoom", text="Xoom "},
                                    new {value="XpressMoney", text="XpressMoney"},
                                    new {value="MoneyGram", text="MoneyGram"},

                                },
                                "value", "text", 0
                    ), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.report, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Zone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Zone, new SelectList(

                                new List<Object> {
                                    new {value="VISMIN", text="VISMIN"},
                                    new {value="LUZON", text="LUZON"}
                                  

                                },
                                "value", "text", new { value = 0, text = DateTime.Now.Year }

                    ), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Zone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Type, new SelectList(

                                new List<Object> {
                                    new {value="EDI", text="EDI"},
                                    new {value="Standard", text="Standard"}

                                },
                                "value", "text", new { value = 0, text = DateTime.Now.Year }

                    ), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Generate" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>


</div>
@section scripts{
    <script>
        $(document).ready(function(){


        });
        function loading() {
            $('#load-modal').modal('show');
        };
        function loadingDismiss() {
            $('#load-modal').modal('hide');
        };
    </script>


}

