@using System.Web.Optimization
@using ML.Web.Helpers
@model ML.Web.Models.ReportModel

<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.historyList, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                <div class="col-md-9 col-sm-9 col-xs-9  input-group-sm">                    
                    @Html.DropDownListFor(model => model.historyList, Model.historyList, "-- Select History --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.items, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-2" })
                <div class="col-md-9 col-sm-9 col-xs-9 input-group-sm">
                    @Html.DropDownListFor(model => model.items, Model.items, "-- Select Group --", new { @class = "form-control ", @tabindex = "2" ,@disabled="disabled"})
                </div>
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.selectedDate, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                <div class="col-md-3 col-sm-3 col-xs-3 input-group-sm">
                    @Html.DropDownListFor(model => model.month, Model.month, new { @class = "form-control", @tabindex = "3" })
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 input-group-sm">
                    @Html.DropDownListFor(model => model.selectedday, Model.day, new { @class = "form-control", @tabindex = "4" })
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 input-group-sm">
                    @Html.DropDownListFor(model => model.selectedyear, Model.year, new { @class = "form-control", @tabindex = "5" })
                </div>
            </div>
        </div>
    </div>
</div>