@using System.Web.Optimization
@using ML.Web.Helpers
@model ML.PaymentSolution.Services.Contracts.Responses.SearchEmployeeResponse


<table class="footable table table-striped">
    <thead>
        <tr>
            <th class="visible-xs">
                Full Name
            </th>
            <th class="hidden-xs">
                Last Name
            </th>
            <th class="hidden-xs">
                First Name
            </th>
            <th class="hidden-xs">
                Middle Name
            </th>
            <th>
                Salary
            </th>
            <th>
                <button type="button" class="btn btn-primary btn-sm pull-right AddEmployeeToGroup" data-url="@Url.Action("getemployees", "Group", Request.Url.Scheme)" data-toggle="modal" data-target="#myModal">
                    <span class='glyphicon glyphicon-plus'></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ResData != null)
        {
            foreach (var item in Model.ResData)
            {
                <tr>
                    <td class="visible-xs">
                        @item.LastName , @item.FirstName @item.MiddleName
                    </td>
                    <td class="hidden-xs">
                        @item.LastName
                    </td>
                    <td class="hidden-xs">
                        @item.FirstName
                    </td>
                    <td class="hidden-xs">
                        @item.MiddleName
                    </td>
                    <td>
                        @String.Format("{0:N}", item.Salary)
                    </td>
                    <td>
                        <div class="pull-right ui-group-buttons">
                            <button type="button" class="btn btn-default btn-sm EditSalary" data-url="@Url.Action("getemployeebyid", "Group", item.EmpId, Request.Url.Scheme)" data-toggle="modal" data-target=".modal-edit-salary" data-mymember="@item.GroupId" data-myempmember="@item.EmpId">
                                <span class='glyphicon glyphicon-pencil'></span>
                            </button>
                            <div class="or"></div>
                            <button type="button" class="btn btn-primary btn-sm RemoveEmployee" data-url="@Url.Action("removemember", "Group", Request.Url.Scheme)" data-toggle="modal" data-target=".modal-sm-member-delete" data-mymember="@item.GroupId" data-mymember2="@item.EmpId">
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </td>
                </tr>
            }
            if (Model.ResData.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        <h1 class="header-textcolor text-center">No Employee</h1>
                    </td>
                </tr>
            }
        }      
    </tbody>
</table>