@using System.Activities.Statements
@using ML.Web.Helpers
@model ML.PaymentSolution.Services.Contracts.Responses.CreatePaymentResponse
           
<div class="container-fluid">
    <span class="navbar-brand brand-logo-small" style="margin-top: -21px;">
        <img src="~/Content/Images/logored.png" class="small-logo" alt="" />
    </span>
    <div class="pull-right" style="font-size: 20px;font-weight: bold;">
        <div class="form-group">
            Invoice No.
            @Model.InvoiceNumber    
        </div>
    </div><br />
    <div class="">
        <table class="table table-striped">
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Salary</th>
                <th>Charge</th>
            </tr>
            @{decimal? tsalary = 0;
                decimal? tcharge = 0;}
            @if(Model.PaymentModel != null){
                foreach (var item in Model.PaymentModel)
                {
                    tsalary += item.Amount;
                    tcharge += item.Charge;
                    <tr>
                        <td>@item.LastName</td>
                        <td>@item.FirstName</td>
                        <td>@item.MiddleName</td>
                        <td>@String.Format("{0:N}", item.Amount)</td>
                        <td>@item.Charge</td>
                    </tr>
                }
            }
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td><b>@String.Format("{0:N}", tsalary)</b></td>
                <td><b>@String.Format("{0:N}", tcharge) </b></td>
            </tr>
        </table>
    </div>
</div>