@using System.Activities.Statements
@using System.Web.Optimization
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        @if (!Request.IsAuthenticated)
        {
            <span class="navbar-brand brand-logo-small">
                <img src="~/Content/Images/logo.png" class="small-logo" alt="" />
            </span>
            <div class="btn-group pull-right btn-settings">
                <button type="button" class="btn btn-sm" onclick="location.href = '@Url.Action("Login", "User",Request.Url.Scheme)'">
                    Sign In
                </button>
            </div>
        }
        else
        {
            <div class="btn-group pull-right btn-settings" data-url="@Url.Action("Login", "User", Request.Url.Scheme)">
                <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="" data-toggle="modal" data-target=".bs-example-modal-cp">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="" data-toggle="modal" data-target=".bs-example-modal-sm">Log Out</a></li>
                </ul>
            </div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand brand-logo-small">
                    <img src="~/Content/Images/logo.png" class="small-logo" alt="" />
                </span>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Active == "Home" ? "active" : "")">
                        @Html.ActionLink("HOME", "Index", "Home")
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle payremit" data-url="@Url.Action("Index", "Payment", Request.Url.Scheme)" data-toggle="modal" data-target=".modal-payment">
                            CREATE PAYMENT
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle reportHistory" data-url="@Url.Action("Index", "Reports", Request.Url.Scheme)" data-toggle="modal" data-target=".createReports" id="reportsHist">
                            REPORTS
                        </a>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("CANCELLATION", "Index", "Cancellation")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            MY ACCOUNT
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("GROUP LIST", "GroupList", "Group")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("EMPLOYEE LIST", "EmployeeList", "Employee")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("My Profile", "UserProfile", "User")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right user-logged-in">
                    <li><p>Hello, @User.Identity.Name</p></li>
                </ul>
            </div>
        }
    </div>
</nav>
<!--Log Out-->
@if (Request.IsAuthenticated)
{
    <div class="modal fade bs-example-modal-sm" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title modal-text">LOG OUT</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnlogout" type="button" class="btn btn-primary" data-url="@Url.Action("Logout", "User", Request.Url.Scheme)">
                        Log Out
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Report Viewer-->
    <div class="modal fade modal-report" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog cancelModalReport">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="printablearea" class="reportviewer"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnprint">Print <span class="glyphicon glyphicon-print"></span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade createReports" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <form class="form-group">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title modal-text">Sendout History</h4>
                    </div>
                    <div class="modal-body">
                        <div class="reports">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btncreatereports"
                                data-all="@Url.Action("allGroupList", "Reports", Request.Url.Scheme)"
                                data-group="@Url.Action("byGroupList", "Reports", Request.Url.Scheme)"
                                data-all-cancel="@Url.Action("AllCancelledGroup", "Reports", Request.Url.Scheme)"
                                data-group-cancel="@Url.Action("ByCancelledGroup", "Reports", Request.Url.Scheme)">
                            View
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Create Payment-->
    <div class="modal fade modal-payment" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title modal-text">CREATE PAYMENT</h4>
                </div>
                <div class="modal-body">
                    <div class="payment"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary Create" disabled data-url="@Url.Action("Create", "Payment", Request.Url.Scheme)">Pay</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Change Password-->
    <div class="modal fade bs-example-modal-cp">
        <div class="col-lg-12 col-sm-12">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close btncancelUpdate" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title modal-text">CHANGE PASSWORD</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="lblusername">Username</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" value="@User.Identity.Name" class="form-control" id="txtusername" readonly />
                            </div>
                        </div>
                        <div>
                            <label for="lblcurpass">Current Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id="txtcurpass" />
                            </div>
                        </div>
                        <div>
                            <label for="lblnewpass">New Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id="txtnewpass" />
                            </div>
                        </div>
                        <div>
                            <label for="lblconfrmpass">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id="txtconfrmpass" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="passInfo pull-left" style="font-size: 15px;display: none;"></div>
                        <img class="pull-left loading" style="display:none" alt="Saving ..." src="@Url.Content("~/Content/Images/ajax-loader.gif")" />
                        <button type="button" class="btn btn-primary btnupdatepass" data-url="@Url.Action("ChangePassword", "User", Request.Url.Scheme)">Update</button>
                        <button type="button" class="btn btn-default btncancelUpdate" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm" role="dialog" aria-labelledby="confirmDeleteLable" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="submit">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


}
<!--Please Wait-->
<div class="modal fade process my-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <img id="loading"
                     alt="Saving ..." src="@Url.Content("~/Content/Images/ajax-loader.gif")" />
                &nbsp;&nbsp;&nbsp;Please wait. . .
            </div>
        </div>
    </div>
</div>

<!--Notification-->
<div class="modal fade modal-Notification" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title modal-text myModalLabel"></h4>
            </div>
            <div class="modal-body">
                @*<div id="notifyme"></div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

